  <div class="row list-container mt-5">
    <div class="col-sm-12 col-lg-8">
      <div class="cards-grid ">
        <% @courses.each do |course| %>
            <%= link_to course_path(course), class:"no-link-deco" do %>
              <div class="card-element">
                <%# <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" /> %>
                <div class="card-element-header" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('<%= cl_image_path course.photos.first.key %>')">
                  <div>
                  <h2><%= course.sport.capitalize %></h2>
                  </div>
                </div>
                <div class="card-element-infos">
                    <%# <p><i class="fa-solid fa-calendar"></i> <%= event.start_date.strftime("%d/%m/%y") %>  <%#= event.start_date.strftime("%H:%M") %>
                    <p><i class="fa-solid fa-location-dot"></i> <%= course.school.address.match(/\d{5}\s\w*/) %></p>
                    <p><%= course.description %></p>
                    <h2 class="element-price"><i class="fa-solid fa-euro-sign"></i> <%= course.daily_price %> / jour</h2>
                  <%= cl_image_tag course.school.photo.key, class: "card-element-organizer avatar-bordered" %>
                </div>
              </div>
            <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-sm-12 col-lg-4">
      <div id="map"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @markers.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
